.card-container {
    display: flex;
    flex-direction: column; /* media query para que pase a row en cuanto la pantalla llegue a 600px*/
    margin: 10px;
    min-width: 300px;
}


.beer-card.preview {
    display: flex;
   /* flex-wrap: wrap;
    flex-grow: 1; esto con la query de 600 px*/
    flex-direction: row;
    border: 1px solid gold;
    max-height: 200px;
    max-width: 500px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow:5px 5px 10px grey; 
}

.beer-card.more-info {
    display: flex;
   /* flex-wrap: wrap;
    flex-grow: 1; esto con la query de 600 px*/
    flex-direction: row;
    border: 2px solid gold;
    max-height: 400px;
    max-width: 1000px;
    overflow: hidden;
    margin: 10px 0;
}

.beer-card.more-info .beer-pic, .beer-card.more-info .info-container {
    display: none;
}


.beer-pic {
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
}

img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.beer-info {
    width: 100%;
}
.beer-info h1 {
    font-size: 1.75rem; /* hacer lo de que crezca con el responsive */
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px dotted gold;
    padding-bottom: 5px;
}

.card-pills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card-pills .pill {
    padding: 3px;
    display: inline-block;
}
.card-pills a {
    text-align: right;
}

.card-pills p {
    margin-right: 10px;
    text-align: left;
}


@media all and (min-width:600px){
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .beer-card.preview {
        margin: 10px 10px;

    }
}