.card-container {
    display: flex;
    flex-direction: column;
    min-width: 290px;
    justify-content: center;
}


.beer-card {
    display: flex;
   /* flex-wrap: wrap;
    flex-grow: 1; esto con la query de 600 px*/
    flex-direction: row;
    border: 1px solid gold;
    max-height: 250px;
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 20px 10px;
    box-shadow:5px 5px 10px grey; 
}

.beer-pic {
    width: 35%;
    padding-top: 5px;
    padding-bottom: 5px;
}

img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
    overflow: hidden;
}

.beer-info {
    width: 100%;
}
.beer-info h1 {
    font-size: calc(1.4rem + 2vw);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px dotted gold;
    padding-bottom: 5px;
}

.beer-info h1:hover {
color: gold;
}

.card-pills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.card-pills .pill {
    padding: 2px;
    display: inline-block;
}
.card-pills a {
    text-align: right;
    text-decoration: none;
    color: blackgold;
}
.card-pills a:hover {
    color: gray;
    background-color: rgba(255, 217, 0, 0.328);
}
/*
.card-pills p {
    margin-right: 10px;
    text-align: left;
}

.card-pills .icofont-speech-comments, #comments-num {
    display: none;
}*/

.brew-year {
    color: gray;
}

@media all and (min-width: 400px) {

    .card-pills .icofont-speech-comments, #comments-num {
    display: inline-block;
    }
}


@media all and (min-width:1050px){
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .beer-card.preview {
        margin: 10px 10px;
    }
}