#main-detail-container, .detail-wrapper, .comment-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#main-detail-container {
	margin-top: 15px;
}

.detail-wrapper, .comment-container {
	overflow: hidden;
	margin: auto 10px;
	padding: 5px;
	max-width: 600px;
}
/*
 .comments-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	margin: auto 10px;
	padding: 5px;
	max-width: 600px;
	align-self: center;
	justify-content: center;
}

*/

.detail-wrapper {
	margin-bottom: 15px;
	border-bottom: 2px dotted gold;
}


.img-container {
	max-width: 70vw;
	height: 100vh;
}

img {
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.beer-header {
	margin-bottom: 10px;
}

.beer-header h1 {
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	color: gold;
	margin-bottom: 10px;
	background-color: rgba(170, 170, 170, 0.1);
}

.underlying {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted gold;
}

.underlying .pill {
	display: inline-block;
}

.underlying .price-tag {
	background-color: rgba(234, 203, 0, 0,6);
}

.underlying .price-tag .price {
	font-size: 2rem;
}

.more-info p {
	margin-bottom: 10px;
}

.more-info .info-header{
	font-weight: bold;
}

.ingredients-detail {
	font-style: italic;
	font-size: 0.9rem;
	color: gray;
}

.comment-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 20px;
}

.comment-input label {
	font-size: 1rem;
	display: inline-block;
	width: 100%;
	text-align: right;
	font-family: arial;
	margin-bottom: 5px;
}

.comment-input textarea {
	display: inline-block;
	width: 96%;
	min-height: 100px;
	padding: 5px;
	margin-bottom: 5px;

}

.comment-form .send-button {
	display: inline-block;
	width: 100%;
	min-height: 50px;
	padding: 5px;
	font-size: 1.05rem;
	border-radius: 5px;
}
.comment-form .send-button:hover {
	cursor: pointer;
	background-color: gold;
	font-weight: bold;
}

.comments-list {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.comments-list h2 {
	font-size: 2rem;
	font-family: arial;
}

.single-comment {
	border-bottom: 1px dotted gray;
	/*margin: 10px auto;*/
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;

}

.single-comment p {
	text-align: right;
	margin-bottom: 5px;
}

.single-comment .comment-date {
	color: goldenrod;
}

.single-comment .comment-time {
	font-size: 0.75rem;
	color: gray;
}

.single-comment .comment-text {
	font-size: 1.1rem;
	text-align: justify;
	margin-bottom: 15px;
}

.detail-wrapper .underlying .icofont-like:hover{
	cursor: pointer;
}