.filters-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 10px;
    position: relative;
    top: 58px;
    z-index: 22;
}

#beer-filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px dotted gray;
}

.printed-filter {
    margin: 5px;
}

.filters-container h3 {
    font-size: 1.5rem;
    font-family: arial;
    margin-bottom: 5px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px dotted gray;
    padding: 5px;
    min-height: 25px;
}

.date-filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
}

.expand-list {
    min-height: 120px;
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;

}

.check-uncheck {
    font-size: 0.75rem;
    color: gray;
    margin-bottom: 2px;
}

.check-all:hover, .uncheck-all:hover {
    color: gold;
    cursor: pointer;
}