.header-container {
	width: 100%;
	margin:0;
	height: 300px;
	overflow: hidden;
	position: relative;
	top: 58px;
}
.header-container img {
	width: 100vw;
	object-fit: cover;
	z-index: 1;
}

.main-header h1 {
	position: absolute;
	display: inline-block;
	top: 25%;
	width: 100%;
	text-align: center;
	z-index: 2;
	font-size: calc(3rem + 3vw); /*try it out*/
	z-index:2;
	text-shadow: 2px 2px gray;

}

main {
	position: relative;
	top: 66px;
}