
.user-mgmt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	min-width: 300px;
	max-width: 450px;
	background-color: gray;
	margin: 20px 5px;
	padding: 10px;
	align-self: center;
}

.logo-container .logo {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}

.user-mgmt p {
	font-size: 1.15rem;
	line-height: 1.35rem;
	color: white;
	text-align: justify;
	margin-bottom: 2rem;
}
.user-mgmt h2 {
	font-size: 1.5rem;
	text-align: center;
	display: block;
	width: 100%;
	color:white;
	padding-bottom: 5px;
	border-bottom: 1px dotted white;
}


.form-changer {
	color: black;
}

.form-changer:hover {
	color: gold;
	cursor: pointer;
}

.register, .login {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-container .form-input, .form-container label {

	display: block;
	width: 100%;
	font-size: 1.20rem;
	border-radius: 2px;
}
.form-container input, .form-container label {
	padding: 0.5rem;
}

.form-container button {
 margin-top: 1rem;
 font-size: 1rem;
 font-weight: 800;
 width: 50%;
 padding: 0.5rem;
 color: black;
 background-color: white;
 align-self: center;
}

#keep-logged, #keep-logged-label {
	display: inline;
	font-size: 1rem;
}

.form-container button:hover {
	background-color: gold;
	color: white;
}
.problem-logging {
	padding: 10px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.problem-logging > a {
	color: #CFD8DC;
	text-decoration: none;
	font-size: 1rem;
	margin: 0.5rem;
}	