nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	opacity: 0.6;
	width: 100vw;
	top:0;
	z-index: 99;
	background-color: rgb(29, 28, 24);
	height: 55px;
	left:0;
}

nav a {
	color: gold;
}

nav .logo {
	color: white;
	font-size: 2rem;
	/*position: relative;*/
}

.search-bar {
	display: flex;
	flex-direction: row-reverse;
	flex-shrink: 1
	margin-right: 10px;
	align-items: center;
	padding: 5px;
}
.search-bar input{
	height: 30px;
	max-width: 45vw;
	/*max-width: 250px;*/
	padding: 5px 0 5px 15px;
	font-size: 1rem;
	border-radius: 5px;
}

.search-bar button {
	height: 30px;
	width: 44px;
	margin-left: 10px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
}

.search-bar .button:hover {
	cursor:pointer;
	background-color: gold;
}

.navbar-icon .icofont-search-1 {
	font-size: 22px;
	color: white;
	line-height: 44px;
	float: right;
	clear: right;
	display: inline-block;
	border: 2px solid gray;

}

.navbar-icon .icofont-search-1:hover, .search-bar .close:hover {
	cursor:pointer;
	color: gold;
}

.search-bar .close {
	background-color: rgb(29, 28, 24);
	border: 0;
	color: white;
	font-size: 25px;
	padding: 0;
	margin: 0;
}