@import "cards.css";
@import "navbar.css";
@import "header.css";
@import "detail.css";

/*cosas globales como tipografía y demás. Se hará */

.logo {
    font-family: 'Baloo Bhaina', cursive;
    color: gold;
}

.logo span {
    color: white;
}

a {
	text-decoration: none;
}

.no-show {
    visibility: hidden;
}
.show {
    visibility: visible;
}

.no-display {
    display: none;
}

.scroll {
    overflow: visible;
    /*overflow-x: hidden*/
}

p, article {
    line-height: 1.2rem;
}