@import "cards.css";
@import "navbar.css";
@import "header.css";

/*cosas globales como tipografía y demás. Se hará */

.logo {
    font-family: 'Baloo Bhaina', cursive;
    color: gold;
}

.logo span {
    color: white;
}

a {
	text-decoration: none;
}

.no-show {
    visibility: hidden;
}
.show {
    visibility: visible;
}