@import "cards.css";
@import "navbar.css";
@import "header.css";
@import "detail.css";
@import "filters.css";
@import "loader.css";

/*cosas globales como tipografía y demás. Se hará */

* {
    box-sizing: border-box;
}

.logo {
    font-family: 'Baloo Bhaina', cursive;
    color: gold;
}

.logo span {
    color: white;
}

a {
	text-decoration: none;
    color: inherit;
}

.no-show {
    visibility: hidden;
}
.show {
    visibility: visible;
}

.no-display {
    display: none;
}

.scroll {
    overflow: visible;
    /*overflow-x: hidden*/
}

p, article {
    line-height: 1.2rem;
    font-size: calc(1rem + 0.3vw);
}

.liked {
    color: green;
    /* animation ? */
}

button:hover {
    cursor: pointer;
}

